# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

### /Users/maple/.gitignore-boilerplates/Global/OSX.gitignore

.DS_Store
.AppleDouble
.LSOverride
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

style.source.css
static/js/custom.js
static/js/jquery.plug.js
